@font-face {
    font-family: "gothic";
    src: url('./fonts/Century+Gothic/centurygothic.ttf');
}

@keyframes headerLogoAnimate {
    0% {
        height: 40px;
    }
    100% {
        height: 114px;
    }
}

@keyframes headerLogoAnimateReverse {
    0% {
        height: 114px;
    }

    100% {
        height: 40px;
    }
}

@keyframes scaleAnimate {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0);
    }
}

@keyframes rotateRoundAnimate {
    0% {
        transform: rotate('0deg');
    }
    100% {
        transform: rotate('360deg');
    }
}

$font-family-base: "gothic";
$font-size-base:  .9375rem;
$line-height-base: 1.2;

$h1-font-size: $font-size-base * 1.6;
$h2-font-size: $font-size-base * 1.6;
$h3-font-size: $font-size-base * 1.6;
$h4-font-size: $font-size-base * 1.6;
$h5-font-size: $font-size-base * 1.6;
$h6-font-size: $font-size-base;

$primary: #39261F;
$secondary: #F7DFB1;
$light: #F7F0F0;
$danger: #FD7575;
$gray: #9C938F;

$body-bg: #F7F0F0;

$text-muted: $gray;

$border-radius: 0;

$btn-padding-y: 18px;
$btn-padding-x: 18px;
$btn-font-size: $font-size-base;
$btn-border-width: 1px;

$spacer: 1.25rem;
$spacers: (0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer * .75,
    4: $spacer * 1,
    5: $spacer * 2,
    6: $spacer * 4
);

$accordion-button-active-bg: transparent;
$accordion-button-active-color: #000000;
$accordion-button-focus-box-shadow: none;
$accordion-icon-width: 0.5rem;

$input-bg: transparent;

@import "~bootstrap/scss/bootstrap";

small {
    font-size: .8125rem;
}

a, .btn-link {
    text-decoration: none;
    color: $dark;
}
a:hover {
    color: $secondary;
    transition: .2s;
}

*::-webkit-scrollbar {
    width: 8px;
    /* ширина scrollbar */
    height: 8px;
}

*::-webkit-scrollbar-track {
    background: none;
    /* цвет дорожки */
}

*::-webkit-scrollbar-thumb {
    background-color: #fff;
    /* цвет плашки */
    border-radius: 20px;
    /* закругления плашки */
    border: 3px solid rgba(0, 0, 0, 0);
    /* padding вокруг плашки */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #e0e0e0;
    transition: .2s;
}

body {
    color: $primary;
}

h3 {
    text-transform: uppercase;
    margin-top: 80px;
    margin-bottom: 40px;
    border-bottom: 2px solid $secondary;
    width: fit-content;
}

.btn-primary {
    color: $secondary;
} 

a.active.focus,
a.active:focus,
a.focus,
a:active.focus,
a:active:focus,
a:focus,
button.active.focus,
button.active:focus,
button.focus,
button:active.focus,
button:active:focus,
button:focus,
.form-control.active.focus,
.form-control:focus,
.form-control.focus,
input.active.focus,
input.active:focus,
input.focus,
input:active.focus,
input:active:focus,
input:focus,
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
    outline: 0;
    outline-color: transparent;
    outline-width: 0;
    outline-style: none;
    box-shadow: 0 0 0 0 rgba(0, 123, 255, 0);
}

.footer__link {
    color: white
}
.footer__link:hover {
    color: $secondary;
    transition: .2s;
}

.footer-light__link {
    color: $gray;
}
.footer-light__link:hover {
    color: white;
    transition: .2s;
}

.nav-catalog-btn-hide {
    width: 24px;
    height: 20px;
    background-image: url('./img/menu.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
.nav-catalog-btn-isShowing {
    width: 24px;
    height: 20px;
    background-image: url('./img/menu.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
    
}
.nav-catalog-btn-show {
    width: 24px;
    height: 20px;
    background-image: url('./img/white-close-cross.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}
.nav-catalog-btn-isHiding {
    width: 24px;
    height: 20px;
    background-image: url('./img/white-close-cross.svg');
    background-repeat: no-repeat;
    background-position: 0 center;
}

#navCatalogTab {
    .nav-link {
        color: $dark;
        cursor: pointer;
    }

    .nav-link.active {
        color: $primary;
        background: #fff;
        border-right: 2px solid $primary;
    }
}

.header-logo-increase {
    animation-name: headerLogoAnimate;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    height: 114px;
}

.header-logo-decrease {
    animation-name: headerLogoAnimateReverse;
    animation-duration: .2s;
    animation-timing-function: linear;
    animation-delay: 0ms;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    height: 40px;
}

.catalog-mobile-list-item {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#141515'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>");
    background-position: 0 0;
}

.category-card__label {
    min-height: 60px;
}
.category-card__label:hover {
    color: $primary !important;
    background-color: $secondary !important;
    transition: .2s;
}

.sign-order-accordion button.accordion-button {
    padding-left: 0;
    padding-right: 0;
}

.sign-order-accordion .accordion-body {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
}

.sign-tel-btn {
    padding: 0;
    color: $danger;
    border-bottom: 1px dotted $danger;
}
.sign-tel-btn:hover {
    color: $danger;
}

.sign-tel-btn-success {
    padding: 0;
    color: #93FA82;
}
.sign-tel-btn-success:hover {
    color: #93FA82;
}

@media (max-width: 576px) {
    .cart-item-name {
        font-size: 80%;
    }
}